.body{
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100vw;
    background-image: url('/assets/Cropfield1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 5%;
    padding-bottom: 7%;

}

.maincontainer{
    display: flex;
    flex-direction: column;
    gap: 6vh;
  }




