.body{
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 100vw;
    background-image: url('/assets/Cropfield1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 7%;
    padding-bottom: 7%;

}

.maincontainer{
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }

.headersection{
    background-color: #6F7C43;
    border: 1px solid whitesmoke;
    padding: 5%;
    margin: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 5%;
}

.milllogo{
    background-image: url('/assets/windmillwhite_big.png');
    width: 164px;
    height: 164px;
    background-repeat: no-repeat;
    background-size: cover;
}

.kontaktsection{
    background-color: #6F7C43;
    border: 1px solid whitesmoke;
    padding: 5%;
    margin: 2%;

    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 15%;

    color: antiquewhite;
}

.contactlogo{
    background-image: url('/assets/contactbig.png');
    width: 164px;
    height: 164px;
    background-repeat: no-repeat;
    background-size: cover;
}

.heins{
    color: whitesmoke;
}

.link{
    color: antiquewhite;
    text-decoration: none;
}