.gallerysection{
    background-color: #6F7C43;
    border: 1px solid antiquewhite;
    padding: 5%;
    margin: 2%;

    height: auto;


    color: antiquewhite; 
}

.gallery{
    display: grid;
    margin: 3em 0;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-gap: 1em;
    grid-auto-flow: dense;
}

.figure{
  display: flex;
  margin: 0;
}

.image{
    border: 1px solid black;
    flex: 1;
    max-width: 100%;
    object-fit: cover;
}